<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Beer Monitoring App
    </ion-title>
    <ion-button slot="start" (click)="openFirst()" expand="block" fill="clear" shape="round">
      <ion-icon name="menu-outline"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
  <ion-menu side="start" menuId="first" contentId="main">
    <ion-header>
      <ion-toolbar color="primary">
        <ion-title>Menú</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-item *ngFor="let fase of procesos" (click)="itemMenuSelect(fase)">
          <ion-label>
            <ion-icon slot="start" name="caret-forward-outline"></ion-icon>
            {{fase['name']}}
          </ion-label>
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="main"></ion-router-outlet>  
  <ion-card>
      <ion-list>
        <ion-item *ngFor="let fase of procesos" (click)="itemCardSelect(fase)">
          <ion-col size="8">
            <ion-label>{{fase['name']}}</ion-label>
          </ion-col>
          <ion-col size="4">
            <div class="icon-menu" align="center">
              <img src='{{fase.icon}}' alt="">
            </div>
          </ion-col>
        </ion-item>
      </ion-list>
  </ion-card>

  <ion-card>
    <ion-list>
      <ion-item *ngFor="let element of Device">

        <ion-label>{{element.name}}</ion-label>
        <ion-label>{{element.id}}</ion-label>
        <ion-button (click)="connect(element.addres)" expand="block" fill="clear" shape="round">
          Click me
        </ion-button>

      </ion-item>
    </ion-list>
  </ion-card>

</ion-content>



